

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  justify-content: center;
  font-family: Calibri;
  font-size: 24px;
}

.TitleSection {
  background-color: #6ea4bb;
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #e7e7e6;
}

.TitleSection input {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #5e98b1;
  font-size: 18px;
  padding-left: 10px;
}

.TitleSection button {
  width: 180px;
  height: 40px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  padding-left: 10px;
  border: none;
  color: #e7e7e6;
  background-color: #006cbf
}

.TitleSection button:hover {
  cursor: pointer;
}

.DisplaySection{

  display: flex;

  flex-direction: column;

  text-align: center;

  align-items: center;

  background-color: #464646;

  color: #ECD8A1;

  font-size: 20px;

  width: 300px;

 

 

}

h3{

  margin: 5px;

}

h4{

  margin: 5px;

}